.tiredOfScroll1 {
    animation: pulse 8s infinite;
    animation-delay: 0s;
}

.tiredOfScroll2 {
    animation: pulse 8s infinite;
    animation-delay: -2s;
}

.tiredOfScroll3 {
    animation: pulse 8s infinite;
    animation-delay: -4s;
}

.tiredOfScroll4 {
    animation: pulse 8s infinite;
    animation-delay: -6s;
}

@keyframes pulse {
    0% {
      transform: translateY(-100px);
      opacity: 0%;
    }
    25% {
      transform: translateY(0);
      opacity: 100%;

    }
    37.5% {
        opacity: 0%;
    }
    50% {
      transform: translateY(100px);
      opacity: 0%;
    }
    100% {
        transform: translateY(100px);
        opacity: 0%;
    }
  }